1 VERSIONINFO
FILEVERSION     1,4,0,0
PRODUCTVERSION  1,4,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Home Developer"
      VALUE "FileDescription", "lossyWAV: Added noise linear PCM bitdepth reduction method by Dr. D.J.M. Robinson, implemented by Nick Currie using an adaptive noise shaping method by S.Gesemann."
      VALUE "FileVersion", "1.4.0"
      VALUE "InternalName", "lossyWAV"
      VALUE "LegalCopyright", "Nick Currie"
      VALUE "OriginalFilename", "lossyWAV.exe"
      VALUE "ProductName", "lossyWAV"
      VALUE "ProductVersion", "1.4.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

id ICON "lossyWAV.ico"
